.u-section-1 .u-sheet-1 {
  min-height: 793px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  height: auto;
  box-shadow: 10px 11px 7px 0 rgba(0,0,0,0.55);
  min-height: 678px;
  margin: 39px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 12px;
}

.u-section-1 .u-image-1 {
  height: 193px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-form-1 {
  height: 223px;
  width: 507px;
  margin: 1px 29px 0 28px;
}



.u-section-1 .u-form-group-3 {
  margin-left: 0;
}



.u-section-1 .u-form-group-4 {
  margin-left: 0;
}



.u-section-1 .u-form-group-5 {
  margin-left: 0;
}



.u-section-1 .u-form-group-6 {
  margin-left: 0;
}



.u-section-1 .u-form-group-7 {
  margin-left: 0;
}



.u-section-1 .u-form-group-8 {
  margin-left: 0;
}



.u-section-1 .u-form-group-9 {
  margin-left: 0;
}



.u-section-1 .u-form-group-10 {
  margin-left: 0;
}



.u-section-1 .u-form-group-11 {
  margin-left: 0;
}



.u-section-1 .u-form-group-12 {
  margin-left: 0;
}



.u-section-1 .u-form-group-13 {
  margin-left: 0;
}



.u-section-1 .u-form-group-14 {
  margin-left: 0;
}



.u-section-1 .u-form-group-15 {
  margin-left: 0;
}



.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  padding: 10px 81px;
}

.u-section-1 .u-text-1 {
  margin: -8px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: 183px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 16px;
    margin-right: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 115px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}