.u-section-1 .u-sheet-1 {
  min-height: 743px;
}

.u-section-1 .u-group-1 {
  width: 700px;
  height: auto;
  box-shadow: 10px 11px 7px 0 rgba(0,0,0,0.55);
  min-height: 486px;
  margin: 78px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 30px;
}

.u-section-1 .u-image-1 {
  width: 264px;
  height: 180px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 227px;
  width: 600px;
  margin: 8px auto 0;
}


.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  padding: 10px 81px;
}

.u-section-1 .u-text-1 {
  margin: -6px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 400px; /* Slightly wider for small screens */
  }

  .u-section-1 .u-form-1 {
    width: 380px;
  }
}